
<html>
    <head>
        <title>Indice</title>
    </head>
    <body>
        <div>
            Microblog:
            <a href="/index">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/profile/delete">Delete User</a>
            
            <!-- Agregando un hipervinculo hacia la pagina "update"-->
            <a href="/profile/update">Update User</a>

            <hr>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>