{% extends "base.html" %}

{% block content %}
<h1>Update</h1>
<form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <br>
    <label for="newUsername">New Username</label>
    <input name="newUsername" id="newUsername">
    <label for="newPassword">New Password</label>
    <input type="password" name="newPassword" id="newPassword">
    <label for="newEmail">Email</label>
    <input name="newEmail" id="newEmail">
    <input type="submit" value="Update">
</form>
{% endblock %}